
.drone{
    position: absolute;
    z-index: 6;
    transform: scale(0.35);     
    animation: droneFly 30s linear 0s infinite;
    /* -webkit-animation: droneFly 4s cubic-bezier(0, 0.2, 1, 0.8) 0s infinite;  */
}
.droneArm1{
    position: absolute;
    top:75px;left: 151px;
    width: 18px; height: 70px;
    background-color: rgb(236,233,228);
    border-radius: 30% 30% 0% 0% /60% 60% 0% 0% ;
    box-shadow: -5px -30px 2px rgba(49, 49, 49, 0.4) inset,
    5px 15px 1px rgba(49, 49, 49, 0.1) inset ;
}
.fanMount1{
    position: absolute;z-index: 1;
    top: -11px;left: 4px;
    height: 20px;width: 10px;
    background-color: rgb(23,77,113);
    border-radius: 30%;
    box-shadow: 3px -2px 3px rgba(255, 255, 255, 0.5) inset;
}
.fanCover1{
    position: absolute;z-index: 2;
    top:30px;left:127px;
    height: 60px;width: 60px;
    border-radius: 50%;
    border: 3px solid rgb(23,77,113);
    transform-origin: center;
    -webkit-transform-origin: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 200px;
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    box-shadow: 1px 5px 1px rgb(18,112,130),-1px 5px 1px rgb(29,192,208),
    0px 5px 1px rgb(29,192,208)inset;
}
.droneArm2{
    position: absolute;
    top: 86px;left: 192.5px;
    width: 18px; height: 80px;
    background-color: rgb(236,233,228);
    border-radius: 30% 30% 0% 0% /60% 60% 0% 0% ;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    box-shadow: 5px 15px 2px rgba(49, 49, 49, 0.4) inset,
    -5px -20px 2px rgba(49, 49, 49, 0.1) inset ;
}
.fanMount2{
    position: absolute;z-index: 1;
    top: -2px;left: -3px;
    height: 20px;width: 10px;
    background-color: rgb(23,77,113);
    border-radius: 30%;
    box-shadow: 3px -2px 3px rgba(255, 255, 255, 0.5) inset;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.fanCover2{
    position: absolute;z-index: 2;
    top:74px;left: 200px;
    height: 60px;width: 60px;
    border-radius: 50%;
    border: 3px solid rgb(23,77,113);
    transform-origin: center;
    -webkit-transform-origin: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 200px;
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    box-shadow: 1px 5px 1px rgb(18,112,130),-1px 5px 1px rgb(29,192,208),
    0px 5px 1px rgb(29,192,208)inset;
}
.droneArm3{
    position: absolute;
    top:135px;left: 151px;
    width: 18px; height: 70px;
    background-color: rgb(236,233,228);
    border-radius: 30% 30% 0% 0% /60% 60% 0% 0% ;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    box-shadow: -5px 15px 2px rgba(49, 49, 49, 0.1) inset,
    5px 15px 2px rgba(49, 49, 49, 0.4) inset ;
}
.fanMount3{
    position: absolute;z-index: 1;
    top: 4px;left: 4px;
    height: 20px;width: 10px;
    background-color: rgb(23,77,113);
    border-radius: 30%;
    box-shadow: 3px -2px 3px rgba(255, 255, 255, 0.5) inset;
    transform: rotate(180deg);
    -webkit-transform: rotate(-180deg);
}
.fanCover3{
    position: absolute;z-index: 2;
    top: 146px;left:127px;
    height: 60px;width: 60px;
    border-radius: 50%;
    border: 3px solid rgb(23,77,113);
    transform-origin: center;
    -webkit-transform-origin: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 200px;
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    box-shadow: 1px 5px 1px rgb(18,112,130),-1px 5px 1px rgb(29,192,208),
    0px 5px 1px rgb(29,192,208)inset;
}
.droneArm4{
    position: absolute;
    top: 85px;left: 107px;
    width: 18px; height: 80px;
    background-color: rgb(236,233,228);
    border-radius: 30% 30% 0% 0% /60% 60% 0% 0% ;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    box-shadow: -5px -16px 2px rgba(49, 49, 49, 0.1) inset,
    5px 15px 2px rgba(49, 49, 49, 0.4) inset ;
}
.fanMount4{
    position: absolute;z-index: 1;
    top: -3px;left: 10px;
    height: 20px;width: 10px;
    background-color: rgb(23,77,113);
    border-radius: 30%;
    box-shadow: 3px -2px 3px rgba(255, 255, 255, 0.5) inset;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.fanCover4{
    position: absolute;z-index: 2;
    top:74px;left: 50px;
    height: 60px;width: 60px;
    border-radius: 50%;
    border: 3px solid rgb(23,77,113);
    transform-origin: center;
    -webkit-transform-origin: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 200px;
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    box-shadow: 1px 5px 1px rgb(18,112,130),-1px 5px 1px rgb(29,192,208),
    0px 5px 1px rgb(29,192,208)inset;
}
.propellerClock{
    position: absolute;z-index: 2;
    top: -1px;left: -1px;
    height: 58px;width: 58px;
    border-radius: 50px;
    border: 2px solid rgb(190, 192, 194);
    transform-origin: center;
    -webkit-transform-origin: center; 
    animation: fanClock .2s cubic-bezier(0, 0, 1, 1) 0s infinite; 
    -webkit-animation: fanClock .2s cubic-bezier(0, 0, 1, 1) 1s infinite; 
}
.propellerAClock{
    position: absolute;z-index: 2;
    top:-1px;left: -1px;
    height: 58px;width: 58px;
    border-radius: 50px;
    border: 2px solid rgb(190, 192, 194);
    transform-origin: center; 
    -webkit-transform-origin: center; 
    animation: fanAClock .2s cubic-bezier(0, 0, 1, 1) 0s infinite; 
    -webkit-animation: fanAClock .2s cubic-bezier(0, 0, 1, 1) 1s infinite; 
}
.fanBlade1{
    position: absolute;z-index: 3;
    top: 26px;left: .5px;
    height: 10px;width: 27px;
    background-color: rgb(29,192,208);
    border-radius: 0% 0% 70% 100%/100%;
}
.fanBlade2{
    position: absolute;z-index: 3;
    top: 22px;left: 30px;
    height: 10px;width: 27px;
    background-color: rgb(29,192,208);
    border-radius: 0% 0% 70% 100%/100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.fanBlade3{
    position: absolute;z-index: 3;
    top: 22px;left: 1px;
    height: 10px;width: 27px;
    background-color: rgb(29,192,208);
    border-radius: 100% 70% 0% 0%/100%;    
}
.fanBlade4{
    position: absolute;z-index: 3;
    top: 26px;left: 30px;
    height: 10px;width: 27px;
    background-color: rgb(29,192,208);
    border-radius: 100% 70% 0% 0%/100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.bladeMount{
    position: absolute;z-index: 3;
    top:24px;left:24px;
    height: 10px;width: 10px;
    border-radius: 50%;
    background-color: rgb(18,112,130);
}
.centerDisk{
    position: absolute;z-index: 1;
    top:105px; left: 136px;
    height: 40px;width: 50px;
    background-color: rgb(162,161,157);
    border-radius: 40%;
    box-shadow: 8px -8px 5px rgba(228, 225, 225, 0.6) inset,
    -3px 3px 3px rgba(49, 49, 49, 0.4) inset;
}

@keyframes fanClock{
    0%{transform:rotate(0deg) }                
    100%{transform: rotate(360deg) }
}
@-webkit-keyframes fanClock{
    0%{-webkit-transform:rotate(0deg) }                
    100%{-webkit-transform: rotate(360deg) }
}
@keyframes fanAClock{
    0%{transform:rotate(0deg) }                
    100%{transform: rotate(-360deg) }
}
@-webkit-keyframes fanAClock{
    0%{-webkit-transform:rotate(0deg) }                
    100%{-webkit-transform: rotate(-360deg) }
}
@keyframes droneFly{
    0%{top: 75%; left: 40%} 
    20%{top: 60%; left: 70%}                
    33%{top:18%;left: 85%; }
    50%{top:40%;left: 30%; }
    66%{top:18%;left: 2%; }
    90%{top:65%;left: 30%; }
    100%{top: 75%;left: 40% }
}
