:root{
    --theme1-c1:#595959; --theme1-c2:#8C8C8C; --theme1-c3:#BFBFBF; --theme1-c4:#D9D9D9; --theme1-c5:#F2F2F2;
    --theme1-c-hover:#FEFEFE; --theme1-c-active:#FFFFFF;

    --paper1:#F2F2F2; --paper2:#D9D9D9; --paper3:#BFBFBF; --paper4:#595859;--paper5:#0D0D0D;
    --sky1:#CEE8F2; --sky2:#91D7F2; --sky3:#50C4F2; --sky4:#0FB2F2;
    --sea1:#07B2D9; --sea2:#11a8e4; --sea3:#0568A6; --sea4:#022340; --sea5:#011322;
}
body{
    overflow-x:hidden; margin: 0; padding: 0; 
    font-family: -apple-system, Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;font-weight: 400;
}
input,textarea,button,select,a,div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
section{overflow: hidden;}
#sea{
    position: absolute;z-index: -1;
    width: 100%;height: 100%;
    transition: background 1.5s ease-in-out;
    background-size: 100% 100%;    
}
.droplets1{    
        background-image:url("../images/web/webDepth1.png");    
}
.droplets2{    
    background-image:url("../images/web/webDepth2.png");
    background-repeat: repeat-x;
}

.droplets3{   
    background-image:url("../images/web/webDepth3.png");
    background-repeat: repeat-x;
}

#diveIn{
    position: absolute;z-index: 2;cursor: pointer;
    height: 50px;width: 40%;bottom:5%;left: 30%;
    color: var(--theme1-c-active);
    display: flex;text-align: center;justify-content: center;
    transition: background 3s ease-in;    
}
#diveOut{
    position: absolute;z-index: 2;cursor: pointer;
    height: 50px;width: 40%;top:5%;left: 30%;
    color: var(--theme1-c-active);
    display: flex;text-align: center;justify-content: center;
    transition: background 3s ease-in;
}
.particles-js-canvas-el { z-index: 1; }
.content{
    z-index: -1;position: absolute;left: 10%;bottom: 20%;
    height: 300px;width: 600px;
    background-color: #0c0c0c;
}

/* mobile portrait */
@media only screen and (max-width: 567px){
    #sea{ bottom: 0;}
    .particles-js-canvas-el { height: 100% !important; }
}
/* mobile landscape, tab */
@media only screen and (min-width: 568px) and (max-width: 1024px) {}