:root{
    --theme1-c1:#595959; --theme1-c2:#8C8C8C; --theme1-c3:#BFBFBF; --theme1-c4:#D9D9D9; --theme1-c5:#F2F2F2;
    --theme1-c-hover:#FEFEFE; --theme1-c-active:#FFFFFF;
    --paper1:#F2F2F2; --paper2:#D9D9D9; --paper3:#BFBFBF; --paper4:#595859;--paper5:#0D0D0D;    
    --sea1:#07B2D9; --sea2:#11a8e4; --sea3:#0568A6; --sea4:#022340; --sea5:#011322;
}
body{
    overflow:hidden; 
    margin: 0; padding: 0; 
    font-family:Roboto,'Open Sans','Source Sans Pro','Work Sans','Segoe UI', Tahoma, sans-serif;
    font-size: 14px;font-weight: 400;
}
input,textarea,button,select,a,div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
section{overflow: hidden;}
.whoAmI{
    position: absolute;padding: 20px;top:20%;
    left: 50%;transform: translateX(-50%);
    width: 40%;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    color: var(--theme1-c-active);
}
.head{
    font-size: 24px;
}
.subhead
{
    font-size: 28px;
}
.intro{
    font-size: 16px;
    text-align: justify;
}
#go{
    position: absolute; padding: 10px;
    left: 50%;transform: translateX(-50%);
    bottom: 4%;width: 80%;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme1-c-active);
    text-align: center;
}
#contact{
    position: absolute;left: 5%;
    padding: 10px;width: 20%;
    border: 1px solid var(--theme1-c-active);
    color: var(--theme1-c-active);
    font-size: 14px;
    text-align: center;
    display: flex;justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

#resume{
    position: absolute;left: 50%;transform: translateX(-50%);   
    padding: 10px;width: 20%;
    border: 1px solid var(--theme1-c-active);
    color: var(--theme1-c-active);
    font-size: 14px;
    text-align: center;
    display: flex;justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
#portfolio{
    position: absolute;right: 5%;
    padding: 10px;width: 20%;
    border: 1px solid var(--theme1-c-active);
    color: var(--theme1-c-active);
    font-size: 14px;
    text-align: center;
    display: flex;justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
#surface{
    position: absolute;z-index: 0;
    height: 85.5%;width: 100%;top: 0;
    background-image: url("../images/web/sky.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.seaWave{
    position: absolute;z-index: -2;
    height: 3%;width: 100%;bottom: 0;    
    background-image: url("../images/web/surfaceWave.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 3px 6px #b6e1f2b4 inset;
}
#sailboat{
    position: absolute;z-index: -1;
    bottom: 0;left: 5%;
    height: 40%;
    content: url("../images/web/sailboat.png");
}
.noSeaSurface{
    top: 0;
}
#sea{
    position: absolute;z-index: 1;
    width: 100%;
    height: 300%;
    top: 85%;
    transition: background 1.5s ease-in-out;
    background-size: 100% 100%;    
}
#depth1{
    height: 101vh;width: 100%;
}
#join12{
    position: absolute;z-index: -1;
    height: 4vh;width: 100%;
    top: 33%;
    background-color: var(--sea3);
}
#depth2{
    height: 101vh;width: 100%;
}
#join23{
    position: absolute;z-index: -1;
    height: 4vh;width: 100%;
    top: 66%;
    background-color: var(--sea4);
}
#depth3{
    height: 101vh;width: 100%;
}
.ontop{
    padding: 10px;
}
.droplets1{    
    position: absolute;top: 0;
    background-image:url("../images/web/webDepth1.png");    
    background-size: 100% 100%;
}
.droplets2{  
    position: absolute;top: 33.33%;  
    background-image:url("../images/web/webDepth2_2.png");
    background-size: 100% 100%;
}

.droplets3{  
    position: absolute;top: 66.66%; 
    background-image:url("../images/web/webDepth3_2.png");
    background-size: 100% 100%;
}
#diveIn{
    position: fixed;z-index: 2;cursor: pointer;
    padding: 10px;bottom:3%;
    left: 50%;transform: translateX(-50%);
    color: var(--theme1-c-active);
    display: flex;text-align: center;justify-content: center;
    font-size: 16px;    
}
#diveOut{
    position: fixed;z-index: 2;cursor: pointer;
    padding: 10px;top:3%;
    left: 50%;transform: translateX(-50%);
    color: var(--theme1-c-active);
    display: flex;text-align: center;justify-content: center;
    font-size: 16px;
}
.particles-js-canvas-el { z-index: 1; }

/* mobile portrait */
@media only screen and (max-width: 567px){
    #sea{ bottom: 0;}
    .particles-js-canvas-el { height: 100% !important; }
    #sailboat{height: 30%;}
    .whoAmI{
        font-size: 22px;
        width: 80%;top: 25%;
    }
    .head{
        font-size: 14px;
    }
    .subhead
    {
        font-size: 16px;
        
    }
    .intro{
        font-size: 12px;
        text-align: justify;
    }
    #go{
        font-size: 12px;        
    }
    #contact{font-size: 10px;}
    #resume{font-size: 10px;}
    #portfolio{font-size: 10px;}
}
/* mobile landscape, tab */
@media only screen and (min-width: 568px) and (max-width: 1024px) {
    .whoAmI{
        font-size: 22px;
        width: 60%;top: 10%;
    }
    .head{
        font-size: 14px;
    }
    .subhead
    {
        font-size: 16px;
        
    }
    .intro{
        font-size: 12px;
        text-align: justify;
    }
    #go{
        font-size: 12px;
        bottom: 0;
    }
    #contact{font-size: 10px;}
    #resume{font-size: 10px;}
    #portfolio{font-size: 10px;}
}