.modal {
    display: none; 
    place-items: center;
    position: fixed;z-index: 3; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: none; 
    background-color: #111111; 
    background-color:#111111a8; 
  }
  .modal-content {
    position: absolute;
    background-color: var(--paper1);
    padding: 5%;
    border: 1px solid #888;
    border-radius: 5px;
    display: grid;
    place-items: center;
  }
  .pdf-content{
    position: relative;
    display: grid;
    place-items: center;
  }
  #resumePDF{
    border: 0;
    height: 90vh;width: 60vw;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .contactImg{   
    position: absolute; 
    content: url("../../images/web/contact.png");
    height: 40%;bottom: 5%;right:10%;
  }
  .contactHold{
    padding: 1%;
  }
  .contactRow{
    padding: 10px;
    display: flex;place-items: center;
    float: left;
    cursor: pointer;
  }

  @media only screen and (max-width: 567px){
    .contactRow{font-size: 12px;}
    #resumePDF{
      border: 0;
      height: 130vw;width: 90vw;/*A4 aspect ratio*/
    }
  }
  @media only screen and (min-width: 568px) and (max-width: 1024px) {
    .contactRow{font-size: 12px;}
  }